* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 98.5vw;
    overflow: auto;
    grid-template-rows: 30vh 25vh auto 30vh;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.header {
    display: flex;
    background-size: cover;
    background-image: url('../img/header2.0.jpg');
    background-position: bottom;
    grid-area: header;
    flex-direction: column;
    justify-content: space-between;
}


.nav {
    list-style: none;
    font-size: 3vw;
    background-image: linear-gradient(to bottom, white, #8C8C90);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    grid-area: nav;
}

.nav li {
    font-size: 5vw;
    border: #c7befd .5vw solid;
}

.nav li:hover{
    background-image: linear-gradient(to bottom, #c7befd, #626286);
    transform: scale(1.5);
}

.header img {
    width: 150px;
    height: 50px;
}

.nav a {
    color: rgb(13, 41, 95);
}

.main {
    background-color: #8C8C90;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.main img {
    width: 70vw;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;
}

.main h1 {
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: #4a4ab8 5px solid;
}

.main h2 {
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    text-align: -webkit-left;
    border: #4a4ab8 2px solid;
}

.main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.main li {
    width: 95vw;
    padding: 3vw;
    margin: 2vw;
    border: #0d0db8 2vw solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-critica li {
    width: 85vw;
    padding: 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #5151cf 1.5vw solid;
}

.lista-critica img {
    width: 40vw;
}

.main a {
    font-size: 5vw;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;
}

.main p {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;
}

.main iframe {
    width: 40vw;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;
}

.grid-index iframe {
    width: 80vw;
    height: auto;
}

.footer {
    background-size: cover;
    background-image: url('../img/imagen-inicio-2.jpg');
    background-position: bottom;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.footer li {
    font-size: 20px;
    padding: 3vw;
}

.footer p {
    color: azure;
}

.footer a {
    color: aquamarine;
}

/* dispositivos medianos */

@media (min-width: 768px) {

    .grid-container {
        grid-template-rows: 50vh 15vh auto 60vh;
        width: 98.5%vw;
        grid-template-columns: 98.5%vw;
    }

    .nav{
        font-size: 3vw;
    }

    .nav li{
        font-size: 2vw;
        padding: .5vw;
    }

    .grid-index {
        display: grid;
        grid-template-columns: 48.25vw 50.25vw;
        grid-template-rows: 20vh 60vh 60vh;
        grid-template-areas:
            "h1 h1"
            "img p"
            "img iframe";
    }

    .grid-index h1 {
        grid-area: h1;
    }

    .grid-index img {
        grid-area: img;
        width: 45vw;
        height: auto;
    }

    .grid-index p {
        grid-area: p;
    }

    .grid-index iframe {
        grid-area: iframe;
        width: 38vw;
        height: 50vh;
    }

    .grid-personajes-y-ciudades {
        display: grid;
        grid-template-columns: 98.5vw;
        grid-row: 20vh 100vh;
        grid-template-areas:
            "h1"
            "ul";
    }

    .grid-personajes-y-ciudades ul {
        grid-area: ul;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    .grid-personajes-y-ciudades li {
        width: 90vw;
        height: 95vh;
        display: grid;
        grid-template-columns: 35vw 45vw;
        grid-template-rows: 15vh 32vh 35vh;
        grid-template-areas:
            "h2 h2 h2"
            "img p p"
            "img iframe iframe";
    }

    .grid-personajes-y-ciudades img {
        grid-area: img;
        width: auto;
        height: 60vh;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-personajes-y-ciudades .foto-gorda {
        width: 30vw;
        height: auto;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-personajes-y-ciudades h2 {
        grid-area: h2;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-personajes-y-ciudades p {
        grid-area: p;
        width: 42vw;
        height: 28vh;
        overflow: auto;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-personajes-y-ciudades iframe {
        grid-area: iframe;
        width: 40vw;
        height: 30vh;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .inicio-h1 {
        grid-area: h1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .inicio-h1 p {
        width: 50vw;
        height: 20vh;
        overflow: auto;
        padding: 2vw;
        margin: 2vw;
        border: #4a4ab8 1vw solid;
    }

    .grid-critica {
        display: grid;
        grid-template-columns: 98.5vw;
        grid-row: 20vh 100vh;
        grid-template-areas:
            "h1"
            "ul";
    }

    .grid-critica ul {
        grid-area: ul;
        overflow: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .grid-critica ul li .lista-critica{
        display: flex;
        flex-direction: column;
        width: 65vw;
        height: 65vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .lista-critica .nota{
        width: auto;
        height: 30vh;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .lista-critica .portada{
        width: 25vw;
        height: auto;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .lista-critica .enlace{
        font-size: 2vw;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
   }

   .lista-critica p{
    font-size: 2vw;
   }

   .grid-descarga{
    display: grid;
    grid-template-columns: 98.5vw;
    grid-row: 20vh 100vh;
    grid-template-areas:
        "h1"
        "ul";
}

    .grid-descarga ul{
        grid-area: ul;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    .grid-descarga li{
        display: grid;
        height: 100vh;
        width: 50vw;
        grid-template-columns: 35vw;
        grid-template-rows: 20vh auto 10vh;
        grid-template-areas: 
        "h2"
        "contenido"
        "final";
    }

    .grid-descarga h2{
        grid-area: h2;
        font-size: 3vw;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-descarga img{
        grid-area: contenido;
        width: 30vw;
        height: auto;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .grid-descarga a{
        grid-area: final;
        font-size: 2vw;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .form p{
        grid-area: contenido;
        font-size: 2vw;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

    .form form{
        grid-area: final;
        padding: 2vw;
        margin: 2vw;
        border: #5151cf 1vw solid;
    }

}