*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid; 
    grid-template-columns: 100vw; 
    grid-template-rows: 30vh auto 30vh; 
    grid-template-areas: 
      "header"
      "main"
      "footer"; 
  }

.header{
    display: flex;
    background-size:cover;
    background-image: url('../img/header2.0.jpg');
    background-position: bottom;
    grid-area: header;
    flex-direction: column;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    font-size:0; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
 }
.header li {
    font-size: 10px;
    padding: 3vw;
 }

.header img{
    width: 150px;
    height: 50px;
}

.header a{
    color: rgb(13, 41, 95);
}

.main{
    background-color: #8C8C90;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main img{
    width: 70vw;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;   
}

.main h1{
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: #4a4ab8 5px solid;
}

.main h2{
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    text-align: -webkit-left;
    border: #4a4ab8 2px solid;
}

.main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.main li{
    width: 95vw;
    padding: 3vw;
    margin: 2vw;
    border: #0d0db8 2vw solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-critica li{
    width: 85vw;
    padding: 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #5151cf 1.5vw solid;
}

.lista-critica img{
    width: 40vw;
}

.main a{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;  
}

.main p{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;   
}

.main iframe{
    width: 40vw;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: #4a4ab8 5px solid;   
}

#video-index{
    width: 80vw;
    height: auto;
}

.footer{    
    background-size: cover;
    background-image: url('../img/imagen-inicio-2.jpg');
    background-position: bottom;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    list-style: none;
    font-size:0; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.footer li{
    font-size: 20px;
    padding: 3vw;
}

.footer p{
    color: azure;
}

.footer a{
    color: aquamarine;
}

/* dispositivos medianos *