.footer {
    @include imagen-fondo('../img/imagen-inicio-2.jpg', footer);
    align-items: center;
    ul {
        list-style: none;
        font-size: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
    }
    li {
        font-size: 20px;
        padding: 3vw;
    }
    p {
        color: azure;
    }
    a {
        color: aquamarine;
    }
}