.main {
    background-color: #8C8C90;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    img {
        width: 70vw;
        height: auto;
        @include recuadro(10px, 10px);
    }
    h1 {
        text-align: center;
        @include recuadro(20px, 20px);
    }
    h2 {
        text-align: -webkit-left;
        @include recuadro(15px, 15px);
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    li {
        width: 95vw;
        @include recuadro(2vw, 3vw);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        font-size: 5vw;
        @include recuadro(10px, 10px);
    }
    p {
        @include recuadro(10px, 10px);
    }
    iframe {
        width: 40vw;
        height: auto;
        @include recuadro(10px, 10px);
    }
}

.lista-critica{
    li {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include recuadro(1vw, 2vw);
    }
    img {
        width: 40vw;
    }
}