/*Agrega estilos a la barra de navegacion*/
.nav {
  grid-area: nav;
  background-image: linear-gradient(to bottom, white, #8c8c90);
  ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
    li {
      font-size: 3vw;
      border: #c7befd 0.5vw solid;
      background-image: linear-gradient(to bottom, white, #8c8c90);
      :hover {
        transform: scale(1.5);
        background-image: linear-gradient(to bottom, white, #8c8c90);
      }
    }
    a {
      color: rgb(13, 41, 95);
    }
  }
}

@media (min-width: 768px) {
  .nav {
    ul {
      font-size: 5vw;
      flex-direction: row;
    }
    li {
      padding: 0.5vw;
    }
  }
}
