/*crea un carrusel de la listas para poder leer de forma entendible el contenido*/
@media (min-width: 768px) {
  .grid-critica {
    display: grid;
    grid-template-columns: 98.5vw;
    grid-row: 20vh 100vh;
    grid-template-areas:
      "h1"
      "ul";
    ul {
      grid-area: ul;
      overflow: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    li .lista-critica{
        display: flex;
        flex-direction: column;
        width: 65vw;
        height: 65vh;
        overflow-x: hidden;
        overflow-y: auto;
        .nota{
            width: auto;
            height: 30vh;
            @include recuadro(2vw, 2vw);
        }
        .portada{
            width: 25vw;
            height: auto;
            @include recuadro(2vw, 2vw);
        }
        .enlace{
            font-size: 2vw;
       }
       p{
        font-size: 2vw;
       }
    }
  }
}
